@model Data.VO.FiscalVO

<h2>Fiscal Details</h2>

<dl class="row">
    <dt class="col-sm-2">Id</dt>
    <dd class="col-sm-10">@Model.Id</dd>
</dl>
<dl class="row">
    <dt class="col-sm-2">Nome</dt>
    <dd class="col-sm-10">@Model.Nome</dd>
</dl>
<dl class="row">
    <dt class="col-sm-2">Email</dt>
    <dd class="col-sm-10">@Model.Email</dd>
</dl>

<form asp-action="DeleteFiscalConfirmed" method="post">
    <a asp-action="IndexFiscal">Back to List</a>
</form>