@model Data.VO.RdoVO

<head>
    <link rel="stylesheet" href="~/css/Rdo/edit.css">
</head>

<h2>Editar</h2>

<form asp-action="EditRdoConfirmed" method="post">
    <div class="form-group">
        <label asp-for="Id" class="control-label"></label>
        <input asp-for="Id" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label asp-for="DataRdo" class="control-label"></label>
        <input asp-for="DataRdo" class="form-control" type="date" />
    </div>



    <div class="form-group">
        <label asp-for="DataEnvio" class="control-label"></label>
        <input asp-for="DataEnvio" class="form-control" type="date" />
    </div>

    <div class="form-group">
        <label asp-for="DataAssinatura" class="control-label"></label>
        <input asp-for="DataAssinatura" class="form-control" type="date" />
    </div>

    <div class="form-group">
        <input asp-for="Assinatura" type="checkbox" />
        <span>Assinado? </span>
    </div>

    <div class="form-group">
        <label asp-for="Observacao" class="control-label"></label>
        <textarea asp-for="Observacao" class="form-control col-sm-12"></textarea>
    </div>
    
    <div class="form-group">
        <label asp-for="ObraId" class="control-label"></label>
        <select asp-for="ObraId" class="form-control" required>
            <option value="">Selecione uma obra</option>
            @foreach (var obra in Model.ListaObra)
            {
                <option value="@obra.Id">@obra.Nome</option>
            }
        </select>
        <span asp-validation-for="ObraId" class="text-danger"></span>
    </div>

    <br/>
    <div class="form-group">
        <input type="submit" value="Editar" class="btn btn-primary" />
        <a asp-action="IndexRdo">Voltar</a>
    </div>
</form>