@model Data.VO.ObraVO

<head>
    <link rel="stylesheet" href="~/css/Obra/details.css">
</head>

<h2>Detalhes</h2>

<dl class="row">
    <dt class="col-sm-2">Id</dt>
    <dd class="col-sm-10">@Model.Id</dd>
</dl>

<dl class="row">
    <dt class="col-sm-2">Numero do Orçamento</dt>
    <dd class="col-sm-10">@Model.NumeroOrcamento</dd>
</dl>

<dl class="row">
    <dt class="col-sm-2">Nome</dt>
    <dd class="col-sm-10">@Model.Nome</dd>
</dl>

<dl class="row">
    <dt class="col-sm-2">SE</dt>
    <dd class="col-sm-10">@Model.SE</dd>
</dl>

<form>
    <a asp-action="IndexObra">Voltar</a>
</form>