@using MEC.ControleRDO.Data.VO
@model UsuarioVO

<a class="navbar-brand" asp-area="" asp-page="/Index">Olá, @Model.Nome</a>
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Fiscal" asp-action="IndexFiscal">Fiscal</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Obra" asp-action="IndexObra">Obra</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Rdo" asp-action="IndexRdo">Rdo</a>
        </li>
        
        @if (Model.Perfil == ControleRDO.Enum.PerfilEnum.Admin)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Usuario" asp-action="IndexUsuario">Usuario</a>
            </li>
        }

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Sair">Sair</a>
        </li>
    </ul>
</div>