
/* Estilos para o botão "Novo Fiscal" */
form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

/* Estilos para a tabela */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

    .table th, .table td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    .table th {
        background-color: #f2f2f2;
    }

/* Estilos para os links de ação */
.action-links a {
    color: #007bff;
    text-decoration: none;
    margin-right: 8px;
}

    .action-links a:hover {
        text-decoration: underline;
    }

/* Estilo para links */
.link-to-page {
    color: #007bff;
    text-decoration: none;
    margin-right: 8px;
}

    .link-to-page:hover {
        text-decoration: underline;
    }
