@model Data.VO.FiscalVO

<head>
    <link rel="stylesheet" href="~/css/Fiscal/delete.css">
</head>

<h2>Deletar</h2>

<div>
    @if (ViewData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger" role="alert">
            @ViewData["ErrorMessage"]
        </div>
    }

    <dl class="row">
        <dt class="col-sm-2">Id</dt>
        <dd class="col-sm-10">@Model.Id</dd>
    </dl>

    <dl class="row">
        <dt class="col-sm-2">Nome</dt>
        <dd class="col-sm-10">@Model.Nome</dd>
    </dl>

    <dl class="row">
        <dt class="col-sm-2">Email</dt>
        <dd class="col-sm-10">@Model.Email</dd>
    </dl>

    <br/>

    <form asp-action="DeleteFiscalConfirmed" method="post">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="IndexFiscal">Voltar</a>
    </form>
</div>
